.about {
  &__description {
    width: 100%;
    padding: 0 16px;
    max-height: 90px;
    overflow: hidden;
    transition: all 1s;
  }
  &__text {
    @include TTLakesRegular;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
  }
  &__read-more {
    margin: 16px 0 0 24px;
  }
  &__background {
    width: 100%;
    min-height: 176px;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & .section__img {
      object-fit: contain;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0 24px 32px 24px;
    }
    &__info {
      width: 50%;
      height: 100%;
    }
    &__description {
      width: 100%;
      max-height: 154px;
      margin: 0;
      padding: 0 48px 0 0;
    }
    &__text {
      line-height: 20px;
    }
    &__read-more {
      margin: 10px 0 0 10px;
    }
    &__background {
      width: 50%;
      min-height: 208px;
      padding: 0;
      align-items: flex-start;
      justify-content: flex-end;
      & .section__img {
        border-radius: 6px;
      }
    }
  }
}
@media screen and (min-width: 1366px) {
  .about {
    &__wrapper {
      padding: 0 32px 51px 32px;
    }
    &__description {
      padding-right: 36px;
      letter-spacing: -0.01em;
    }
    &__read-more {
      margin: 14px 0 0 8px;
    }
    &__background {
      min-height: 307px;
      padding: 0;
      & .section__img {
        border-radius: 12px;
      }
    }
  }
}
