.swiper {
  &-slide {
    width: min-content;
  }
}
.swiper-pagination {
  position: static;
  margin-top: 16px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--swiper-pagination-bullet);
  border-radius: 50%;
  &-active {
    background-color: var(--swiper-pagination-active);
  }
}
