:root {
  --main-color-first: #f8f8f8;
  --main-color-second: #eaeaea;
  --base-color-white: #ffffff;
  --action-color-first: #ff3e79;
  --action-color-second: #d9fff5;
  --action-color-third: #eaeaea;
  --action-color-fourth: #41f6d7;
  --action-color-fiveth: #b8ffec;
  --text-color-first: #1b1c21;
  --text-color-second: #7e7e82;
  --swiper-pagination-active: #b5b6bc;
  --swiper-pagination-bullet: #dddddd;

  --menu--shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  --modal-shadow: var(--menu--shadow), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
